# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CAD/OldVersions/
CAD/*/OldVersions/
CAD/*/*/OldVersions/
CAD/*/*/*/OldVersions/
CAD/*/*/*/*/OldVersions/
inspiration/
*/*/*.b#*

*.bak
code/controller/build/
code/walkgen/build/
code/controller/build/
code/walkgen/build/
code/walkgen/install/
code/controller/install/


*.swp
